@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Trước đối thủ thua kém về đẳng cấp, không ngạc nhiên khi AS Roma dễ dàng áp đảo và giành chiến thắng đậm 10-0. Những cầu thủ lập công cho đại diện Serie A lần lượt là Perez, Mancini, Mayoral (3 bàn), Calafiori, Zaniolo, Zalewski, Diawara và một bàn phản lưới.

        Dự kiến, Roma sẽ đá 5 trận giao hữu nữa trước khi chính thức bước vào mùa giải 2021/22 bằng cuộc chạm trán Fiorentina ở vòng 1 Serie A (ngày 22/8).

        Đầu tháng 5, Mourinho nhận lời dẫn dắt AS Roma theo bản hợp đồng có thời hạn 3 năm (tới tháng 6/2024), mức lương khoảng 7,6 triệu euro/mùa. Đây là lần đầu ông trở lại Serie A kể từ khi rời Inter Milan hồi hè 2010.

        Người hâm mộ Roma kỳ vọng Mourinho có thể giúp đội bóng cạnh tranh chức vô địch Serie A, danh hiệu mà họ chưa thể chạm tay vào suốt 20 năm cũng như các danh hiệu lớn khác. Lần gần nhất đại diện thành Rome giành một chiếc cúp đã từ mùa giải 2007/08 (Coppa Italia). Mùa giải năm ngoái, Roma chỉ xếp thứ 7 Serie A.

        Ngay khi nhận công việc mới, "Người đặc biệt" đã bắt tay vào công cuộc tái thiết Roma bằng động thái chiêu mộ thủ thành đồng hương Rui Patricio từ Wolverhampton với giá 11,5 triệu euro.

        Bên cạnh đó, theo tiết lộ từ Sky Sport Italia, 8 cầu thủ nhiều khả năng bị Mourinho đẩy ra đường để nhường chỗ cho những bản hợp đồng mới gồm Pedro, Justin Kluivert, Steven N'Zonzi, Robin Olsen, Ante Coric, Javier Pastore, Federico Fazio và Davide Santon.
    </p>
</div>
